.moviesGrid {
  display: grid;
  grid-gap: 1.5rem;
  padding: 10px 40px 0 40px;
  justify-content: center;
  text-align: center;
  animation-duration: 1s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}

@media (min-width: 600px) {
  .moviesGrid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (min-width: 1000px) {
  .moviesGrid {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media (min-width: 1500px) {
  .moviesGrid {
    grid-template-columns: repeat(8, minmax(0, 1fr));
  }
}

@media (max-width: 600px) {
  .moviesGrid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 0.8rem;
    padding: 10px 10px 0 10px;
  }
}
