header{
    background-color: rgb(0, 0, 0);
    height: 5rem;
    display: flex;
    align-items: center;
    padding: 0 3rem 0 3rem;
    justify-content: space-between;
}

h2{
    margin: 0;
    
}

.logo{
display: flex;
align-items: center;
}



.logo a{
    padding-left: 30px;
    text-decoration: none;
    color: white;
}

.loginButton{
padding: 8px;
border-radius: 5px;
border: 1px solid rgb(172, 172, 185);
background-color: rgb(158, 167, 247);
}

