.master {
  width: 12rem;
  box-shadow: 10px 0px 5px -3px var(--shadow-color);

  background-color: var(--primary-color);
  color: var(--text-color);
  z-index: 300;
  transition: all 1s;
}
.aux{
  display: flex;
}

.icono {
  position: absolute;
  top: 1.2rem;
  right: 1.5rem;
  z-index: 1000;
  display: none;
  font-size: 25px;
  cursor: pointer;

  color: var(--text-color);
}

.main {
  position: sticky;
  overflow-y: scroll;
  top: 0;
  height: 100vh;
}

.main::-webkit-scrollbar {
  -webkit-appearance: none;
}

.main::-webkit-scrollbar:vertical {
  width: 10px;
}

.main::-webkit-scrollbar-button:increment,
.contenedor::-webkit-scrollbar-button {
  display: none;
}

.main::-webkit-scrollbar:horizontal {
  height: 10px;
}

.main::-webkit-scrollbar-thumb {
  background-color: #424242;
  border-radius: 10px;
  margin-top: 10px;
}

.main::-webkit-scrollbar-track {
  margin-top: 0px;
  border-radius: 5px;
}



a > h2 {
  font-size: 2.6rem;
  margin: 1rem;
}

.links {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  border-bottom: rgb(44, 44, 44) 1px solid;
}

.links > h3,
.genres > h3 {
  margin: 0.5rem 0;
  padding: 0;
  font-size: 1rem;
  color:  var(--text-different);
  font-weight: 400;
}

.link {
  color: var(--text-color);
  padding-bottom: 0.8rem;
  text-decoration: none;
  font-weight: 300;
  display: flex;
  align-items: center;

}

.link:hover{
  color:var(--text-hover) ;
}
.genres {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  border-bottom: rgb(44, 44, 44) 1px solid;
}

.logo {
  text-align: center;
  width: 100%;
  margin: 0;
  border-bottom: rgb(44, 44, 44) 1px solid;
}

.logo a {
  text-decoration: none;
  color: #b31621;
  transition: 0.5s all;
  font-size: 2rem;
}

.logo a:hover {
  transition: 0.4s all;
  color: #7a0e16;
}

.icon{
  padding-right: .5rem;

}





@media (max-width: 750px) {
  .master {
    left: -15rem;
    position: fixed;
    z-index: 1000;
  }
  .icono {
    display: block;
  }
}
