.container {
  display: flex;
  justify-content: center;
}

.box {
  position: relative;
}

.input {
  transition: all 0.2s;
  height: 2rem;
  padding: 0px 38px 0px 10px;
  border: 1px var(--border-color) solid;
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
  color: var(--text-color);
  background-color: var(--theme-color);
}

.input::placeholder {
  color: var(--placeholder);
}

.input:focus {
  transition: all 0.2s;
  box-shadow: none;
  border: 1px rgb(128, 0, 0) solid;
  outline: none;
}

.searchBtn {
  position: absolute;
  right: 5px;
  top: 0;
  cursor: default;
  height: 100%;
  color: var(--text-color);
  border: none;
  background: none;
}
